body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fef6f9;
    text-align: center;
}

/* NAVBAR */
nav {
    background-color: #ff8fab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav h2 {
    margin: 0;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* HEADER */
header {
    background-color: #ffb6c1;
    padding: 20px;
}

/* PRODUCTS */
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
}

/* FOOTER */
footer {
    background-color: #ffb6c1;
    padding: 10px;
}